### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchaseData = pd.read_csv(file_to_load)

## Player Count

In [73]:
purchaseData.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

* Display the total number of players

In [4]:
uniquePlayerCount = purchaseData["SN"].nunique()

print( f"Unique total player count is {uniquePlayerCount}")

Unique total player count is 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
uniqueItemCount = purchaseData["Item ID"].nunique()
averageItemPrice = round(purchaseData["Price"].mean(),2)
totalItemPurchased = len(purchaseData)
totalItemRevenue = sum(purchaseData["Price"])


analysisPurchasing_df = pd.DataFrame({
    "Unique Item Count" : [uniqueItemCount],
    "Average Item Price" : [averageItemPrice],
    "Total Item Pruchased" : [totalItemPurchased],
    "Total Item Revenue" : [totalItemRevenue]
})

analysisPurchasing_df

,Unique Item Count,Average Item Price,Total Item Pruchased,Total Item Revenue
0,179,3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
genderCount = purchaseData["Gender"].value_counts()
genderPercentage = purchaseData["Gender"].value_counts(normalize = True)

maleCount = genderCount["Male"]
femaleCount = genderCount["Female"]
otherCount = genderCount["Other / Non-Disclosed"]
malePercentage =round(genderPercentage["Male"],2)
femalePercentage = round(genderPercentage["Female"],2)
otherPercentage = round(genderPercentage["Other / Non-Disclosed"],2)

analysisGender_df = pd.DataFrame({
    "Gender" : ["Male", "Female", "Other / Non-Disclosed"],
    "Count" : [maleCount, femaleCount, otherCount],
    "Percentage" : [malePercentage, femalePercentage, otherPercentage]
    
})

analysisGender_df

                  Gender  Count  Percentage
0                   Male    652        0.84
1                 Female    113        0.14
2  Other / Non-Disclosed     15        0.02


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
malePurchaseData = purchaseData.loc[purchaseData["Gender"] == "Male",:]
femalePurchaseData = purchaseData.loc[purchaseData["Gender"] == "Female",:]
otherPurchaseData = purchaseData.loc[purchaseData["Gender"] == "Other / Non-Disclosed",:]


malePurchaseCount = malePurchaseData["Purchase ID"].count()
femalePurchaseCount = femalePurchaseData["Purchase ID"].count()
otherPurchaseCount = otherPurchaseData["Purchase ID"].count()

malePurchaseTotal = malePurchaseData["Price"].sum()
femalePurchaseTotal = femalePurchaseData["Price"].sum()
otherPurchaseTotal = otherPurchaseData["Price"].sum()

malePurchaseAverage = malePurchaseTotal / malePurchaseCount 
femalePurchaseAverage = femalePurchaseTotal / femalePurchaseCount
otherPurchaseAverage = otherPurchaseTotal / otherPurchaseCount


maleGroupedData = malePurchaseData.groupby(["SN"]).sum()
femaleGroupedData = femalePurchaseData.groupby(["SN"]).sum()
otherGroupedData = otherPurchaseData.groupby(["SN"]).sum()

maleGroupedDataAverage = maleGroupedData["Price"].mean()
femaleGroupedDataAverage = femaleGroupedData["Price"].mean()
otherGroupedDataAverage = otherGroupedData["Price"].mean()


metaAnalysisGender_df = pd.DataFrame({
    "Gender" : ["Male", "Female", "Other / Non-Disclosed"],
    "Pruchase Count" : [malePurchaseCount, femalePurchaseCount, otherPurchaseCount],
    "Avg Purchase Price" : [malePurchaseAverage, femalePurchaseAverage, otherPurchaseAverage],
    "Avg Purchase Price per person by Gender" : [maleGroupedDataAverage, femaleGroupedDataAverage, otherGroupedDataAverage]
})
    
metaAnalysisGender_df  
#by gender:
#purchase count
#avg purchase price 
#avg purchase total per person

,Gender,Pruchase Count,Avg Purchase Price,Avg Purchase Price per person by Gender
0,Male,652,3.017853,4.065372
1,Female,113,3.203009,4.468395
2,Other / Non-Disclosed,15,3.346000,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [57]:
# df_ages['age_by_decade'] = pd.cut(x=df_ages['age'], bins=[20, 29, 39, 49], 
#labels=['20s', '30s', '40s'])
agePurchaseData = purchaseData

bins = [0,9,14,19,24,29,100]
groupNames= ["<10","10-14","15-19","20-24","25-29",">30"]

agePurchaseData["Age Demographics"] = pd.cut(purchaseData["Age"], bins, labels =groupNames,include_lowest=True)


ageGroupedData = agePurchaseData.groupby("Age Demographics")

ageCount = ageGroupedData["Purchase ID"].count()
ageAveragePrice = ageGroupedData["Price"].mean()

ageGroupedData =

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80